<% @element_attributes.each do |element_attribute| %>
  <div id = "1" class = "attr">
    <a>
          <%= element_attribute.id %>

      </a>
    <input type = "text"><%= element_attribute.element_id %></input>
  </div>
<% end %>