<ul>
  <li><a href="#tabs-1">MainForm</a></li>
  <li><a href="#tabs-2">SubForm</a></li>
</ul>
<div id="tabs-1" class = "ui-widget-content">
  <div id = "form1" class="container ui-state-active">
    <div class="title">MainForm</div>
    <div class="main"></div>
  </div>
</div>