<div class = "menu-border" >
  <nav role='navigation'>
    <ul>
      <li><a href="#">Профиль</a></li>
      <li><a href="#">Пользователи</a></li>
      <li><a href="#">Загрузить проект</a></li>
    </ul>
  </nav>
</div>
